.App {
  text-align: center;
}

.topLeft::before {
  position: absolute;
  content: '';
  top: -40px;
  left: 0;
  height: 44px;
  width: 90px;
  background-color: rgb(14 116 144);


}

.topRight::after {
  position: absolute;
  content: '';
  top: -40px;
  right: 0;
  height: 44px;
  width: 90px;
  background-color: rgb(14 116 144);
}

.leftTriangle::before {
  width: 25px;
  content: '';
  position: absolute;
  top: -40px;
  left: 90px;
  background: transparent;
  border-bottom: 0px solid transparent;
  border-left: 40px solid rgb(7, 114, 143);
  border-top: 40px solid transparent;

}

.rightTriangle::after {
  width: 25px;
  content: '';
  position: absolute;
  top: -40px;
  right: 90px;
  background: transparent;
  border-bottom: 0px solid transparent;
  border-right: 40px solid rgb(7, 114, 143);
  border-top: 40px solid transparent;
}

.sss{
  border-top-right-radius: 20px;
}
.sssTriangle::before{
  width: 50px;
  content: '';
  position: absolute;
  top: 77px;
  left: 80px;
  background: transparent;
  border-bottom: 31px solid transparent;
  border-left: 31px solid rgb(7, 114, 143);
  border-top: 31px solid transparent;
}
.sssBox::after{
  position: absolute;
  content: '';
  top: 137px;
  right: 80px;
  height: 12.5px;
  width: 26px;
  border-bottom-right-radius: 10px;
  background-color:  rgb(202 138 4);
  
}
